header {
    background-color: #FFCC99;
}

main {
    background-color: #E6F2FF;
}

aside {
    background-color: #B3D9FF;
}

footer {
    background-color: #99CC99;
}

header h1 {
    font-weight: bold;
    text-align: center;
}

main {
    display: flex;
}

aside {
    flex: 1;
}

section {
    flex: 2;
    margin: 20px;
}